{
    "presets": [
        "react",
        "env",
        "stage-0",
        "es2015",
    ],
    "env": {
        "production": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    },
    "plugins": [
        "transform-es2015-modules-commonjs"
    ]
}